body{
    font-family: Roboto, sans-serif;
}

#title{
    text-align: center;
}

ul{
    margin: 25px auto;
    opacity: 0;
}

ul li{
    background: orange;
    list-style-type: none;
    display: inline-block;
    margin: 15px;
}

#square{
    border: 3px solid lightcoral;
    opacity: 0;
    margin: 25px auto;

}

.subsubheading{
    display:none;
}

#action-button{
    display:block;
    font-size: 2em;
    margin: 30px auto;
    padding: 20px;
    border: 0;
    border-radius: 10px;
    background-color: blue;
    color: white;
    cursor: pointer;
}
