body{
    font-family: Roboto, sans-serif;
}

#title, #sub-title, .subsubheading{
    text-align: center;
}

ul{
    margin: 25px auto;
    opacity: 0;
    display: flex;
    flex-wrap: nowrap;
}

ul li{
    background: orange;
    list-style-type: none;
    display: inline-block;
    margin: 15px;
}

#square{
    
    border: 3px solid lightcoral;
    opacity: 0;
    margin: 25px auto;
    position:relative;
    height:40px;

}
#j,#Q,#u,#e,#r,#y{
    display:inline-block;
    position: absolute;
    width: 20px;
    height:20px;
    font-weight: bold;
    font-size: 2em;
    
}

#j{left:5%;color:red;}
#Q{left:20%;color:orange;}
#u{left:35%;color:yellow}
#e{left:50%;color:green;}
#r{left:65%;color:blue;}
#y{left:80%;color:blueviolet}

.subsubheading{
    visibility: hidden;
}

#action-button{
    display:block;
    font-size: 2em;
    margin: 30px auto;
    padding: 20px;
    border: 0;
    border-radius: 10px;
    background-color: blue;
    color: white;
    cursor: pointer;
}
